@{
    ViewData["Title"] = "Edit Dish";
}

@model Dish
<div class="text-center">
    <h1 class="display-4">Add a new Dish!</h1>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li>Add a Dish</li>
    </ul>
</div>
<div>
    <form asp-action="UpdateDish" asp-controller="Dish" asp-route-DishId="@Model.DishId" method="post">
        <div class="form-row">
            <div class="form-col">
                <div>
                    <label asp-for="Chef">Chef's Name</label>
                    <input asp-for="Chef"/>
                </div>
                <span asp-validation-for="Chef"></span>
                <div>
                    <label asp-for="Name">Name of Dish</label>
                    <input asp-for="Name"/>
                </div>
                <span asp-validation-for="Name"></span>
                <div>
                    <label asp-for="Calories"># of Calories</label>
                    <input asp-for="Calories" />
                </div>
                <span asp-validation-for="Calories"></span>
            </div>
            <div class="form-col">
                <label asp-for="Tastiness"></label>
                <select asp-for="Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Tastiness"></span>
            </div>
            <div class="form-col">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" cols="30" rows="10"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <button type="submit" class="form-submit">Edit Dish</button>
    </form>
</div>